input {
  max-width: 300px;
  display: inline-block;
  background-color: #5131df;
  color: white;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.card {
  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    flex: 1 0 21%;
  }
}