<form class="container" #f="ngForm">
  <input type="text"
  placeholder="Search GIF"
  name="keyword"
  (keyup.enter)="searchGifs(f.value)"
  ngModel>
</form>

<div id="search-results" class="card-list" *ngIf="searching">
  <ng-container *ngFor="let item of searchList">
    <app-card-gif *ngIf="item.images.fixed_height_downsampled.url" class="card-item" [gifName]="item.title" [imageUrl]="item.images.fixed_height_downsampled.url"></app-card-gif>
  </ng-container>
</div>

<div id="trending" class="card-list" *ngIf="!searching">
  <ng-container *ngFor="let item of trendingList">
    <app-card-gif *ngIf="item.images.fixed_height_downsampled.url" class="card-item" [gifName]="item.title" [imageUrl]="item.images.fixed_height_downsampled.url"></app-card-gif>
  </ng-container>
</div>