/* Colors */
$background-primary: #0d0045;
$background-secondary: #D9EFEA;
$primary-color: #99C2B6;
$secondary-color: #27137d;
$text-primary: #c8bdfa;
$action-primary: #44C6B2;

/* Mixins */
@mixin hoverColorTransition ($colorBefore, $colorAfter){
  background-color: $colorBefore;
  transition: all .3s linear;

  &:hover {
    background-color: $colorAfter;
  }
}